@charset "utf-8";

/* INFO 
 * Name: NiceCSS Reset
 * Version: 0.0.9.4
 * License: GPL V3
 * */

/* Hard Reset */

*{
margin:0;
padding:0;
font:inherit;
line-height:1;
vertical-align:baseline;
border:0;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
}

*::after,*::before{box-sizing:inherit;-moz-box-sizing:inherit;-webkit-box-sizing:inherit;}

	/* Text Fixes */

		a{text-decoration:none;color:inherit;} /* Links */

		i,em{font-style:italic;} /* Italic Text fix */

		b,strong{font-weight:bold;} /* Bold Text fix */

		ol,ul,li{list-style-type:none;} /* Lists */
		
		code,pre{font-family:monospace, monospace;} /* Code */
		
		table{border-collapse:collapse;text-align:center;} /* Table Fix */
		
			table th,table td{font-weight:400;}
		
	/* Fixes from normalize.css and me | MIT License | github.com/necolas/normalize.css */
	
		button,input,optgroup,select,textarea{margin:0;background:transparent;font:inherit;outline:none;line-height:inherit;} /* Text Fields font, outline, etc fix */
	
		code,kbd,samp{font-family:monospace;} /* Monospaced Code */

		small{font-size:75%;}
		
		/* Sub and Sup fix */

		sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}

			sub{bottom:-0.25em;}

			sup{top:-0.5em;}
		
		img{display:block;border:none;color:transparent;} /* Image border fix */
	
	/* Clear fix (Brownlooks only) */
	
	#header_container::before,#header_container::after,
	#header::before,#header::after,
	#header_nav::before,#header_nav::after,
	#main::before,#main::after,
	#content::before,#content::after,
	#principal::before,#principal::after,
	#what_is_missing::before,#what_is_missing::after,
	#footer::before,#footer::after,
	#footer_sides::before,#footer_sides::after,
	#footer .copyright::before,#footer .copyright::after,
	.post::before,.post::after,
	.post h1::before,.post h1::after,
	.post h2::before,.post h2::after,
	.post h3::before,.post h3::after,
	.post h4::before,.post h4::after,
	.post h5::before,.post h5::after,
	.post h6::before,.post h6::after,
	.post .template_info::before,.post .template_info::after,
	.post .button_container::before,.post .button_container::after,
	.cl::before,.cl::after{content:"";display:table;}
	
	#header_container::after,
	#header::after,
	#header_nav::after,
	#main::after,
	#content::after,
	#principal::after,
	#what_is_missing::after,
	#footer::after,
	#footer_sides::after,
	#footer .copyright::after,
	.post::after,
	.post h1::before,
	.post h2::before,
	.post h3::before,
	.post h4::before,
	.post h5::before,
	.post h6::before,
	.post .template_info::after,
	.post .button_container::before,.post .button_container::after,
	.cl::after{clear:both;}
	
	/* End Clearfix */

/* End Reset */
